$violet: #000;
$yellow: #f9c802;
$big-stone: #171f3f;
$shuttle-gray: #52606d;
$azure-radiance: #0593fb;
$athens-gray: #e5e8ec;
$malachite: #06c847;
$royal-purple: #653cad;
$mariner: #2251cc;
$catskill-white: #f5f7fa;
