html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
	background: #2e2240;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.form {
	max-width: 600px;
	width: 100%;
}